* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.view-container{
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: 
    'header header header'
    'nav content sidebar'
    'nav footer footer';
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 80px 1fr 70px;
}

header,
footer,
main,
aside,
nav {
  background-color: #7f7f7f;
  color: #fff;
  padding: 20px;
  border: skyblue 1px solid; 
}

header {
  grid-area: header;
  font-size: 1.5rem;
}

.fa-solid{
  position: relative;
  right: -50vw;
  cursor: pointer;
}
.fa-plus{
  color: purple;
}
.fa-plus:hover{
  font-size: 110%;
}
.fa-circle-xmark{
  color: red;
}
.fa-circle-xmark:hover{
  font-size: 110%;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

main h1 {
  text-align: center;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
